{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:all", "prettier"],
  "rules": {
    "one-var": ["error", { "var": "always", "let": "never", "const": "never" }],
    "no-ternary": 0,
    "no-prototype-builtins": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ]
  }
}
